Source: wazo-codec-opus-open-source
Section: comm
Priority: extra
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 9), asterisk-dev (>= 8:19), libopus-dev
Standards-Version: 3.9.6

Package: wazo-codec-opus-open-source
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, asterisk (>= 8:19), libopus0
Description: Opus codec for the Asterisk IPBX
 Open source Opus codec implementation for Asterisk
 .

Package: wazo-codec-opus-open-source-dbg
Architecture: any
Depends: wazo-codec-opus-open-source (= ${source:Version})
Description: Opus codec for the Asterisk IPBX with debug symbols
 Open source Opus codec implementation for Asterisk
 .
